@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sen:wght@700&display=swap');
:root{
    --sen: 'Sen', sans-serif;
    --inter: 'Inter', sans-serif;
    --main-bg-color: #232536;
    --secondary-bg-color: #F4F0F8;
    --main-font-color: #000;
    --secondary-font-color: #fff;
    --btn-bg-color: #FFD050;
    --span-color: #592EA9;
    --primary-font-color: #232536;
    --input-border-radius: 2px;
    --input-border-color: #6d6e7680;
    --hero-gradient: radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}